body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tippy-box {
  background-color: transparent !important;
}

.tippy-content {
  padding: 0 !important;
  margin: 0;
}

.up-down-animate {
  animation-name: up-down-animation;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-iteration-count: infinite;
}

@keyframes up-down-animation {
  0% {
    margin-bottom: 0;
  }
  20% {
    margin-bottom: 4px;
  }
}
