:root {
  --clr-orange: #f37021;
  --clr-orange-light: #f37221d3;
  --clr-light: rgba(255, 255, 255, 0.9);
  --grd-orange-white: linear-gradient(315deg, #fff, #f3702173);
}

* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* forced values change */
.tippy-box {
  background-color: transparent !important;
}

.tippy-content {
  padding: 0 !important;
  margin: 0;
}

/* animations class*/
.up-down-animate {
  animation-name: up-down-animation;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-iteration-count: infinite;
}

/* animations */
@keyframes up-down-animation {
  0% {
    margin-bottom: 0;
  }
  20% {
    margin-bottom: 4px;
  }
}

@keyframes linear-exit-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
    display: none;
  }
}

@keyframes linear-exit-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
    display: none;
  }
}

@keyframes linear-enter-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

/* globally useful classes */

.disable-text-selection {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* loading css */

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(2.5);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--clr-orange);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
