:root {
  --clr-orange: #f37021;
  --clr-orange-light: #f37221d3;
  --grd-orange-white: linear-gradient(315deg, #fff, #f3702173);
}

* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tippy-box {
  background-color: transparent !important;
}

.tippy-content {
  padding: 0 !important;
  margin: 0;
}

.up-down-animate {
  animation-name: up-down-animation;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-iteration-count: infinite;
}

@keyframes up-down-animation {
  0% {
    margin-bottom: 0;
  }
  20% {
    margin-bottom: 4px;
  }
}

@keyframes linear-exit {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes linear-enter {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
